<div class="card mt-5">
  <div class="card-body">
    <h6 class="text-center">Lista de Productos</h6>
    <table class="table table-sm table-hover">
      <tbody>
          <tr *ngFor="let producto of productLista">
              <td>{{producto.nombre}}</td>
              <td>{{producto.categoria}}</td>
              <td>
                <a class="btn btn-secondary text-white" (click)="onEdit(producto)">
                  <i class="far fa-edit"></i>
                  </a>
                  <a class="btn btn-danger text-white" (click)="onDelete(producto.$key)">
                      <i class="far fa-trash-alt"></i>
                  </a>
              </td>
            </tr>
      </tbody>
    </table>
  
  </div>
</div>
